@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --light: #FFFFFF;
    --dark: #0d1321;
    --grey: #D2D7DF;
    --unbounded: 'Unbounded', cursive;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
}

.main-container {
    display: flex;
}

nav {
    flex: 2;
    height: 90vh;
    overflow-y: auto;
}

main {
    flex: 8;
    height: 90vh;
    overflow-y: auto;
}


/*Scroll bar code from: https://www.cssportal.com/css-scrollbar-generator/ */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #747474 #DFE9EB;
}


/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
    width: 4px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #747474;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #747474;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}