nav {
    font-family: var(--roboto);
    background-color: var(--dark);
    color: var(--light);
    padding-left: 8px;
    padding-right: 8px;
}

nav ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav li button {
    color: var(--light);
    background-color: var(--dark);
    padding: 2px;
    border-radius: 8px;
    border: transparent;
    font-size: larger;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: 0.3s;
}

nav li button:hover {
    color: var(--dark);
    background-color: var(--light);
    transition: 0.3s;
}

nav span {
    font-size: xx-large;
    font-weight: 700;
}

#add-container {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

#add {
    color: var(--dark);
    background-color: var(--light);
    font-weight: 700;
}

.icon {
    height: 26.4px;
    width: 26.4px;
    filter: invert(100%) sepia(99%) saturate(119%) hue-rotate(196deg) brightness(116%) contrast(100%);
}

.badger {
    display: inline;
    background-color: var(--light);
    padding: 1px;
    color: var(--dark);
    border-radius: 2px;
}

@media only screen and (max-width: 780px) {
    nav {
        display: none;
    }
}